.default {
  -fx-text-fill: black;

  -fx-fill: #f4f4f4;   /* F4F4F4 = default scene background color */
}


/* GRAPH_FX SECTION */

.graphfx_node_default {
  -fx-arc-height: 8;
  -fx-arc-width: 8;
  -fx-fill: lightblue;
  -fx-stroke: black;
  -fx-stroke: rgba(0.0, 0.0, 0.0, 0.0);  /* transparent stroke for padding - there is a better way, right? */
  -fx-stroke-width: 30;
}

.graphfx_node_source {
  -fx-arc-height: 8;
  -fx-arc-width: 8;
  -fx-fill: lightgreen;
  -fx-stroke: black;
  -fx-stroke: rgba(0.0, 0.0, 0.0, 0.0);  /* transparent stroke for padding - there is a better way, right? */
  -fx-stroke-width: 30;
}

.graph_bg {
  /*-fx-background-color: #dd0ddd;*/
  /*-fx-background-color: rgb(1.0, 0.0, 0.0); */ /* //, rgb(0.0, 100.0, 0.0);*/
/*  -fx-background-insets: -20, 0;*/
  /*-fx-fill: lightblue; */
  -fx-stroke: black;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 1 , 2 );
  -fx-fill: #f4f4f4;
  -fx-arc-height: 14;
  -fx-arc-width: 14;
}

.graph_trash {
  -fx-stroke: red;
  /* dropshadow (<blur-type>, <color>, radius, choke (100% ratio), x-offset, y-offset) */
  -fx-effect: dropshadow( three-pass-box , rgba(255,0,0,0.9) , 7, 0.5 , 0 , 0 );
  -fx-fill: #f4f4f4;
  -fx-arc-height: 14;
  -fx-arc-width: 14;
}

.tree_node_default {
  -fx-background-color: gray, lightgray;
  -fx-background-insets: -7, -6;
  -fx-arc-height: 4;
  -fx-arc-width: 4;
  -fx-stroke: rgba(0.0, 0.0, 0.0, 0.0);  /* transparent stroke for padding - there is a better way, right? */
  -fx-stroke-width: 40;
}

.tree_node_selected {
  -fx-background-color:
    gray,
    lightblue;
  -fx-background-insets: -7, -6;
  -fx-stroke: rgba(0.0, 0.0, 0.0, 0.0);  /* transparent stroke for padding - there is a better way, right? */
  -fx-stroke-width: 40;
  -fx-arc-height: 4;
  -fx-arc-width: 4;
}

.tree_node_with_popover {
  -fx-background-color:
    gray,
    yellow;
  -fx-background-insets: -7, -6;
  -fx-stroke: rgba(0.0, 0.0, 0.0, 0.0);  /* transparent stroke for padding - there is a better way, right? */
  -fx-stroke-width: 40;
  -fx-arc-height: 4;
  -fx-arc-width: 4;
}

.highlight {
  -fx-text-fill: red;
  -fx-font-weight: bold;

  -fx-fill: white;
  -fx-arc-height: 8;
  -fx-arc-width: 8;
  -fx-stroke: black;
}

.graphfx_edge_default {

}

.treegrid {
  -fx-background-color: white;
  -fx-padding: 10;
  -fx-hgap: 100;
  -fx-vgap: 100;
}



/* CORPUS VIEWER SECTION */

.touch_slider_track {
  -fx-fill: lightgray;
  -fx-stroke: black;
  -fx-stroke-width: 1;
}

.touch_slider_thumb {
  -fx-fill: linear-gradient(to bottom,
       rgba(127, 127, 255, 0) 0%, rgba(127, 127, 255, 255) 50%, rgba(127, 127, 255, 0) 100%);
}

